 <div class="col-md-6 col-md-offset-3">
  <%= form_for([:admin, @cosmetic], html: {multipart: true}) do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :quantity_in_store %>
    <%= f.text_field :quantity_in_store, class: "form-control" %>
    <%= f.label :price %>
    <%= f.text_field :price, class: "form-control" %>
    <div class="field">
      <%= f.label :image, class: "form-label" do %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
      <% end %>
  </div>
    <div id="preview"></div>
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
    <div>
      <%= f.label :trademark %>
      <%= f.select :trademark_id do %>
        <% @trademarks.each do |c| -%>
          <%= content_tag :option, c.name, value: c.id %>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= f.label :category %>
      <%= f.select :category_id do %>
        <% @categories.each do |c| -%>
          <%= content_tag :option, c.name, value: c.id %>
        <% end %>
      <% end %>
    </div>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
</div>
