<div class="col-lg-4 col-md-4 mb-4">
  <div class="card-cosmetic h-100">
    <%= link_to image_tag(cosmetic.image.url, alt: t(".alt"), size: Settings.cosmetics.show.sizes), cosmetic_path(cosmetic)%>
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to cosmetic.name, cosmetic_path(cosmetic) %>
      </h4>
      <h5><%= number_to_currency cosmetic.price, locale: :vi %></h5>
    </div>
    <div class="card-footer">
      <%= link_to cosmetic.users_liked.count.to_s << (t ".liked") , cosmetic_path(cosmetic), method: :get %>
     <div class="row"> <%= render "blogs/share_button", object: cosmetic %> </div>
    </div>
  </div>
</div>
