<div id="sidebar" class="category-custom">
	<li>
		<h2><%= t ".category"%></h2>
		<ul>
			<li> <%= link_to (t ".makeup"), cosmetics_path(:category => t(".makeup")) %></li>
			<li><%= link_to (t ".cleansing") , cosmetics_path(:category => t(".cleansing")) %></li>
			<li><%= link_to (t ".body"), cosmetics_path(:category => t(".body")) %></li>
			<li><%= link_to ( t ".hair"), cosmetics_path(:category => t(".hair")) %></li>
			<li><%= link_to ( t ".formen"), cosmetics_path(:category => t(".formen")) %></li>
		</ul>
	</li>
</div>
